<div class="cell">
  <div class="card">
    <div class="card-divider">
      <h4><%= event.title %></h4>
    </div>
    <div class="card-section">
      <div>
        <i class="far fa-map-marker fa-fw"></i>
        <%= event.location %>
      </div>
      <div>
        <i class="far fa-calendar fa-fw"></i>
        <%= event.started_at.strftime('%e-%b-%Y, %l:%M %p') %>
      </div>
      <p>
        <% if event.members.include? current_user %>
        <%= link_to event, class: 'hollow button expanded' do %>
          Let me in!
          <i class="far fa-angle-right fa-fw"></i>
        <% end %>
        <% else %>
        <%= button_to join_event_path(event), class: 'hollow button expanded' do %>
          Join
          <i class="far fa-angle-right fa-fw"></i>
        <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>
