<nav>
  <ul class="menu">
    <li>
      <%= link_to @event do %>
      <i class="far fa-home fa-fw"></i>
      Dashboard
      <% end %>
    </li>
    <li>
      <%= link_to event_registrations_path(@event) do %>
      <i class="far fa-users fa-fw"></i>
      Members
      <% end %>
    </li>
    <li>
      <%= link_to edit_registration_path(@event.registrations.find_by(user: current_user)) do %>
      <i class="far fa-list-alt fa-fw"></i>
      My registration
      <% end %>
    </li>
    <!-- <li>
      <%= link_to event_invitations_path(@event) do %>
      <i class="far fa-user-plus fa-fw"></i>
      Invitations
      <% end %>
    </li> -->
    <%= content_tag :li do %>
      <%= link_to edit_event_path(@event) do %>
      <i class="far fa-edit fa-fw"></i>
      Edit
      <% end %>
    <% end if policy(@event).edit? %>
  </ul>
</nav>
