<% content_for :title, @event.title %>
<h1><%= yield :title %></h1>
<ul class="fa-ul">
  <li>
    <i class="far fa-calendar fa-li"></i>
    <%= format_date_range @event.started_at, @event.ended_at %>
  </li>
  <li>
    <i class="far fa-clock fa-li"></i>
    <%= format_time_range @event.started_at, @event.ended_at %>
  </li>
  <li>
    <i class="far fa-map-marker fa-li"></i>
    <%= @event.location %>
  </li>
</ul>

<%= render 'navigation' %>

<div>
  <% SYSTEMS.keys.each do |key| %>
    <%= key %>:
    <%= @event.registrations.sum "CAST (systems ->> '#{key}' AS INTEGER)" %>
  <% end %>
</div>

<h2>Activities</h2>

<%= render @event.activities %>

<%= link_to new_event_activity_path(@event), class: 'button radius' do %>
  Add an activity
  <i class="far fa-angle-right fa-fw"></i>
<% end if policy(@event).edit? %>
