<% content_for :title, @event.title %>
<h1><%= yield :title %></h1>
<ul>
  <li>
    <i class="far fa-calendar"></i>
    <%= format_date_range @event.started_at, @event.ended_at %>
  </li>
  <li>
    <i class="far fa-clock"></i>
    <%= format_time_range @event.started_at, @event.ended_at %>
  </li>
  <%= content_tag :li do %>
    <%= link_to edit_event_path(@event) do %>
    <i class="far fa-edit"></i>
    Edit
    <% end %>
  <% end if policy(@event).edit? %>
  <li>
    <%= link_to edit_registration_path(@event.registrations.find_by(user: current_user)) do %>
    <i class="far fa-info-circle"></i>
    My registration
    <% end %>
  </li>
</ul>

<div>
  <% SYSTEMS.keys.each do |key| %>
    <%= key %>:
    <%= @event.registrations.sum "CAST (systems ->> '#{key}' AS INTEGER)" %>
  <% end %>
</div>
