<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <div class="grid-y medium-grid-frame">
      <div class="cell shrink header medium-cell-block-container">
        <%= render 'site_header' %>
      </div>

      <div class="cell shrink medium-cell-block-y">
        <%= render 'flash' %>
      </div>

      <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x">
          <!-- <div class="cell medium-4 medium-cell-block-y">

          </div> -->

          <div class="cell medium-12 medium-cell-block-y">
            <%= yield %>
          </div>
        </div>
      </div>

      <div class="cell shrink footer">
        <%= render 'site_footer' %>
      </div>
    </div>
  </body>
</html>
